<div class="list-background pt-5">
  <div class="d-flex justify-content-center">
    <div class="custom-devise p-5">
      <h2>Mot de passe oublié ?</h2>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Renouveler", class: "btn btn-success" %>
      </div>
      <% end %>
      <div class="mt-5">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
