<% @lists.each do |list| %>
  <div class="card m-5" style="width: 500px;">
    <div class="card-header text-center">
      <% if current_user.admin == true %>
        <div class="d-flex justify-content-between">
          <div>
            <%= list.title.capitalize %> - (<%= list.user.email %>) - list_id: <%= list.id %>
          </div>
          <div>
            <%= link_to list_path(list.id) do %>
              <i class="fas fa-bars"></i>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="d-flex justify-content-between">
          <div>
            <%= list.title.capitalize %> - n°<%= list.id %> - user <%= current_user.email %>
          </div>
          <div>
            <%= link_to list_path(list.id) do %>
              <i class="fas fa-bars"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <% list.tasks.each do |task|  %>
        <% if task.done == false %>
          <div class="d-flex justify-content-between">
            <div>
              <%= simple_form_for(task, method: :patch, url: task_path(task.id)) do |f| %>
                <%= f.input :name, label: false, placeholder: 'Modifier'%>
                <%= f.hidden_field :id, value: "#{task.id}" %>
                <%= f.submit style: "display: none" %>
              <% end %>
            </div>
            <div>
              <%= link_to done_task_path(task.id), method: :patch do  %>
                <i class="far fa-check-circle m-3" id="check-icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= simple_form_for @task, html: { class: "form-inline ml-auto", url: tasks_path} do |f| %>
        <%= f.input :name, label: false, placeholder: 'Ajouter tâche'%>
        <%= f.hidden_field :list_id, value: "#{list.id}" %>
        <%= f.submit "+", class: "btn btn-success m-2 font-weight-bold" %>
      <% end %>
    </ul>
  </div>
<% end %>

