<% @lists.each do |list| %>
  <div class="card mt-5" style="width: 500px;">
    <div class="card-header text-center">
      <% if current_user.admin == true %>
        <%= list.title.capitalize %> - (<%= list.user.email %>)
      <% else %>
        <%= list.title.capitalize %>
      <% end %>
    </div>
    <ul class="list-group list-group-flush">
      <% list.tasks.each do |task|  %>
        <li class="list-group-item"><%= task.name %></li>
      <% end %>
      <%= link_to '+ Ajouter tâche', root_path, class: 'list-group-item list-group-item-action list-group-item-success'   %>
    </ul>
  </div>
<% end %>



